<link rel="stylesheet" href="/css/header.css">

<header class="header">
  <div class="header__content">
    <div class="header__spacer"></div>
    <nav class="header__nav">
      <button class="header__button" aria-label="Notifications">
        <img src="/assets/icon-notifications.svg" alt="" class="header__icon">
      </button>
    </nav>
    <div class="header__separator"></div>
    <img src="/assets/logo.svg" alt="IPT Logo" class="header__logo">
  </div>
</header>
